/* .container--input-form {
  border: 2px solid rgb(183, 180, 180);

} */

form {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input, button {
  width: 30%;
  border: 1px solid black;
  border-radius: 7%;
  font-size: 1em;
}